* {
    margin: auto;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 550px;
    height: 704px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.nav {
    width: 550px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #2B283A;
}

.nav > h1 {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    text-align: center;
    padding: 20px
}

.img {
    width: 125px;
    height: 168px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
}

.location-title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    padding: 10px 0px;
}

.card {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 470px;
    height: 168px;
    left: 40px;
    top: 100px;
}

.location-link {
    display: flex;
    
    align-items: flex-start;
    width: 300px;
    margin: 0;
    width: 300px;
    padding-left: 30px;
}

.location-link > h3 {
    margin: 0;
}

.location-para {
    padding-left: 30px;
}

.para {
    font-size: 12px;
}

.location {
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 11px;
    text-decoration: none;
    color: #44434d;
}

.date {
    color: #44434d;
    font-weight: 300;
    margin-bottom: 5px;
}